#buy-food-all
{
	width:1310px;
	height:1120px;
	margin-top:120px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	/*background-color: yellow;*/
}
#buy-food
{
	width:1310px;
	height:540px;
	margin:0;
	padding: 0;

	border-bottom: 1px solid black;

}
#buy-food-left
{
	width:800px;
	height:500px;
	margin:0;
	padding: 0;
	float:left;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	
}
#buy-food-right
{
	width:510px;
	height:500px;
	margin:0;
	padding: 0;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	
}
#buy-food-left-img
{
	width:600px;
	height:400px;
	margin:60px auto;
	padding:0;
	
}
#buy-food-name{

	width:510px;
	height:60px;
	margin-top:60px;
	padding: 0;

	
}
h1{
  margin:0;
	padding:0;
	font-size: 40px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#buy-food-name-left
{
	width:300px;
	height:60px;
	margin:0;
	padding: 0;
	text-align: left;
	float:left;
	

}

#buy-food-price
{
	width:110px;
	height:60px;
	margin:0;
	padding: 0;
	text-align:center;
	float:left;

}
#buy-food-des
{   width:300px;
	height:100px;
	margin:0;
	padding: 0;
	text-align:left;
	float:left;
	font-size:18px;
	color:#4a4a4a;
 
}

#buy-food-qty
{
	width:510px;
	height:50px;
	margin:0;
	padding: 0;
	text-align:left;
	float:left;
    font-size:24px;

}

#buy-food-number
{
	height:30px;
	width: 80px;
	font-size:22px;
}

#buy-food-add-bag
{
    width:510px;
	height:200px;
	margin:0;
	padding: 0;
	text-align:center;
	float:left;
  

}

#buy-food-add-bag-btn
{
	 cursor:pointer;
	
	margin-top:60px;
    margin-left: 60px;
	display: block;
width: 300px;
height: 68px;
font-size: 17px;
font-family: Arial,Helvetica,sans-serif;
line-height: 1.42857143;
border: 3px solid #f00;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
color: white;
background-color:#f00 ;
}

#buy-food-add-bag-btn:hover{
	background-color: #d60000;
	border: 3px solid #d60000;
}

#other-things
{
	width:1310px;
	height:570px;
	margin:0;
	padding: 0;
    float:left;
	/*background-color: green;*/
}

#other-things-title
{
	width:1310px;
	height:150px;
	margin:0px;
	padding: 0;
    float:left;
    font-weight: bold;
    font-size: 40px;
    text-align: center;

	
}
#other-things-head{
	width:1310px;
	height:100px;
	margin-top:50px;
	padding: 0;

}

#other-things-recommend-item
{
	width:1310px;
	height:360px;
	margin:0;
	padding: 0;
    float:left;
	/*background-color: white;*/
}