body{
	margin:auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    font-weight: 600;
}
#head{
	width:1310px;
	height:64px;
	position: fixed;left:50%;top:10%; 
    margin-left:-655px;margin-top:-32px;
}
#logo{
height:64px;
width:130px;
background-color: #f00;
cursor:pointer;
text-align: center;
margin-right: 10px;
float: left;
}

#logo_content{
 color:white;
 font-weight: bold;
 font-size: 26px;
 text-decoration: none;
}

#head-search{
	float: left;
	height:64px;
	width:460px;
	border-bottom: 2px solid #3f3c3c;
	margin-right: 10px;
	padding:0;
}
#search-btn{

	background-color: white;
	height: 64px;
	box-shadow: none;
    border:1px transparent solid;
}
#search-text{
	height:30px;
	 border:1px transparent solid;
	 
	 font-size: 20px;
	 font-family: Arial, Helvetica, sans-serif;
	 color:#666666;  

}

#head-category{
	
	height:64px;
	width:450px;
	float:left;
	padding: 0px;
	margin: 0px;
}
#head-category ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;

}
.head-ca{
	width:90px;
	float:left;
	text-align: center;
	margin: 0px;
	background-color: #4A4A4A;
	height:64px;
	cursor:pointer;
}
.head-ca:hover{
background-color: #f00;
}
#head-sale{
	width:90px;
	float:left;
	text-align: center;
	margin: 0px;
	background-color: #666666;
	height:64px;
	cursor:pointer;
}
#head-sale:hover{
	background-color: #f00;
}
#head-category ul div{
	margin-top: 25%;
	padding: 0px;
}
.cat-a{
	text-decoration: none;
	color:white;
	font-size: 15px;
	font-weight: 600;

}

#head-login{

	height:64px;
	width:250px;
	float:left;
	padding: 0px;
	margin: 0px;
}

#head-login ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;

}

#head-login ul li{
	width:80px;
	float:left;
	text-align: center;
	margin: 0px;
	background-color: #A8A8A8;
	height:64px;
	cursor:pointer;
}
#head-login ul li:hover{
background-color: #f00;
}

#head-login ul div{
	margin-top: 14%;
	padding: 0px;
}
#head-image{
	margin-top: 10px;
}