#myaccount{
	/*height:250px;*/
	width: 180px;
	margin: 0;
	padding: 0;
	float: right;
      
	/*background-color: red;*/
}
#myprofile{
    height:120px;
	width: 180px;
	margin: 0;
	padding-top:100px;
	float:left;
	/*background-color: green;*/
}
.myprofile-link
{
	height:40px;
	width: 180px;
	margin: 0;
	padding:0;
	float:left;
	
	border-top:1px solid black;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
	background-color: white;
}
.myprofile-link:hover{
	background-color: #f00;
	color:white;
}
.myprofile-label-x{
	
	margin-left:10px;

}
.x-css{
	height:30px;
	padding-top:10px;
}
#xxx{
	height:30px;
	padding-top:10px;
	border-bottom:1px solid black;
}