#shopping-bag{
	width:800px;

	margin-top: 110px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;

    /*background-color: yellow;*/
}

h1{

font-weight: 600;
font-size: 48px;
line-height: 20px;
letter-spacing: -1px;


}
h3{
	font-size:150%;
	font-weight:normal;
}

#shopping-cart-head
{
width:800px;
height:110px;
margin: 0;
padding:0;

}
#shopping-cart-title{
width:800px;
height:60px;
margin: 0;
padding-top:20px;

text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;

}

#shopping-cart-table{
	
	border-bottom: 3px solid black;
	padding: 0;
	margin: 0;
}

#shopping-cart-table-body-row{
	/*border-top: 1px solid black;*/

}

#shopping-cart-table-body-row{
	height:100px;
	border-top: 1px solid black;

	padding:0;
	margin:0;
		
}

.table-image{
	width:140px;
	text-align:center;
	padding:8px 0;
	margin: 0;
}

.table-name{
	width:150px;
	text-align:center;
	padding:8px 0;
	margin: 0;
}
				
.table-price{
	width:110px;
	text-align:center;
	padding:8px 0;
	margin: 0;
}	
.table-quantity{
	width:150px;
	text-align:center;
	padding:8px 0;
	margin: 0;
}		
.table-subtotal{
	width:110px;
	text-align:center;
	padding:8px 0;
	margin: 0;
}	
.table-remove{
	width:140px;
	text-align:center;
	padding:8px 0;
	margin: 0;
}
	

.table-show-items{
	height:80px;
	margin:5px auto 5px auto;
	
}			
.table-quantity-edit{
	width:150px;
	padding:0;
	margin: 0;
	
}	
.table-quantity-change{
	width:150px;
	height:40px;
	margin:0;
	padding: 0;
	text-align: center;

}
.table-quantity-number-v
{
	width:66px;
	height: 37px;
	font-size: 19px;
	background-color: #eaeaea;
	border: none;
}
.table-quantity-update
{
	width:150px;
	height:40px;
	margin-top:5px;
	padding: 0;
	text-align: center;
	
}
.table-quantity-update-btn
{
	width:68px;
	height: 40px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight: 800;
	letter-spacing: -2;
	background-color: white;
	border:3px solid black;
}
.table-quantity-update-btn:hover{
	border:3px solid #f00;
	color:#f00;
	cursor:pointer;
}
.table-remove-logo
{
	width:150px;
	height:40px;
	margin-top:5px;
	padding: 0;
	text-align: center;
    
}

.table-remove-logo-x{
	width:26px;
	height:26px;
    text-align: center;
    margin: auto;
    padding:0;
    font-size: 24px;
    
}
.table-remove-logo-x:hover
{
	cursor: pointer;
	color:red;
}

#continue-shopping{
	width:800px;
	height:170px;
	padding:0;
	margin:0;
	border-bottom: 1px solid black;
	
}

#continue-shopping-left{
	width:400px;
	height:170px;
	padding:0;
	margin:0;
    float:left;

}

#continue-shopping-left-logo{
	width:350px;
	height: 110px;
	background-color: red;
	color:white;
	font-size: 26px;
	margin-top:30px;
	margin-left:0;
	padding: 0;

}
#continue-shopping-left-logo-label{
    margin:0;
    padding-left:7px;
	padding-top:20px;
}
#continue-shopping-right{
	width:400px;
	height:170px;
	padding:0;
	margin:0;
    float:left;
		
}


#continue-shopping-right-text{
    width:300px;
	height:66px;
	padding:0;
	margin:0;
    float:left;
	
	font-size: 20px;
	text-align: left;
}
#continue-shopping-right-total{
	width:100px;
	height:66px;
	padding:0;
	margin:0;
    float:left;
	/*background-color: white;*/
	font-size: 20px;
	text-align: left;
}

#continue-shopping-right-total-css{
padding-top: 30px;
}

#continue-shopping-right-text-css{
	padding-top:30px;

}

#continue-shopping-right-payway{
width:150px;
height: 104px;
margin:0;
padding:0;
float: left;

/*background-color: green;*/
}

#continue-shopping-right-payway-desc{
	width:150px;
height: 20px;
margin:0;
padding:0;
float: left;
font-size: 12px;

}

.continue-shopping-right-btn{
width:250px;
height: 52px;
margin:0;
padding:0;
float: left;
text-align: right;
/*background-color: yellow;*/
}

#continue-shopping-right-btn-css{
	cursor: pointer;
margin-top: 0px;
margin-left:70px;
display: block;
width: 180px;
height: 40px;
font-size: 14px;
font-weight: 600;
color:white;
font-family: Arial,Helvetica,sans-serif;

border: none;

background-color: #F00;

}

#continue-shopping-right-btn-css:hover{
	background-color: #CF0000;
	cursor: pointer;
}
#continue-shopping-right-btn-css-2{
	cursor: pointer;
margin-top:0px;
margin-left:70px;
display: block;
width: 180px;
height: 40px;
font-size: 14px;
font-weight: 600;
color:white;
font-family: Arial,Helvetica,sans-serif;

border: none;

background-color: #F00;

}

#continue-shopping-right-btn-css-2:hover{
	background-color: #CF0000;
	cursor: pointer;
}
#no-pro-in-bag{
	height:40px;
	background-color:#edb24a; 
	text-align: center;
	font-size: 20px;
	color: white;
	/*margin-top: 10px;*/
}
#no-pro-in-bag-2
{
	height:40px;
	padding-top: 8px;
	
}