#all-pro
{
	width: 1310px;
	height:3160px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top:170px;
	margin-bottom:10px;
	margin-left: auto;
	margin-right:auto;
	padding: 0;
	
    
}

#all-pro-label
{
    width: 1310px;
	height:40px;
	background-color: #666;
	margin-left:-655px;
	margin-top: -20px;
	
	position:fixed;

    left:50%;top:21%; 
    
    padding:0;

}
#all-pro-img
{
	height:40px;
	width:40px;
	float:left;
}
#all-pro-image
{
	padding-top: 7px;
	padding-left: 7px;

}
#all-pro-logo
{
	height:35px;
	width:220px;
	
	font-size: 25px;
	font-weight: 600;
	color: white;
	text-align: right;
	margin:0;
	padding-top: 5px;
	float:left;
}

#all-pro-total
{
	width: 1310px;
	height:480px;
	margin:0;
	padding:0;
	
}
#all-pro-text
{
width:510px;
height: 480px;
margin:0;
padding:0;
text-align: center;
float: left;
}
#all-pro-pic
{
	width:800px;
height: 480px;
margin:0;
padding:0;
float: left;
}

#all-pro-text-label
{
		width:510px;
        height: 200px;     
        margin:0;
        padding-top:220px;
        font-size: 39px;
        font-weight: bold;
}

#all-pro-hop
{
	width: 1310;
	height:100px;
	margin:20px 0 0 0;
	padding:0;
	background-color: #eaeaea;
}
.all-pro-hop-list
{ 
	width: 327.5px;
	height:100px;
	margin:0;
	padding:0;
    float: left;

}
.all-pro-hop-list:hover{
	background-color: white;
	color: red;
	cursor: pointer;
}

.hop-list-center
{
   width:326.5px;
   height:30px;
   margin-top:35px;
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   padding:0;
   border-right: 1px solid #A8A8A8;
}

#all-pro-show-noodle{
width: 1310px;
height:530px;
margin: 0;
padding:0;
float:left;

}

 .all-pro-show-noodle-title{
 	 width: 1310px;
     height:160px;
     margin: 0;
     padding:0;
     float:left;
    
 }
.all-pro-show-noodle-title-label{
 	 width: 1310px;
     height:80px;
     margin: 0;
     padding-top:80px;
     font-size:50px;
     font-weight: bold;
     text-align: center;
    
 }
.all-pro-noodle-list
{
     width: 1310px;
     height:400px;
     margin: 0;
     padding:0;
     text-align: left;
     
}

.all-pro-noodle-items
{
	 width:436.5px;
     height:362px;
     margin: 0;
     padding:0;
     float:left;
     text-align:center;
    
}

#all-pro-noodle-customer-img
{
	 width:436px;
     height:260px;
     margin: 0;
     padding:0;
     float: left;
     
}

#all-pro-noodle-customer-img:hover
{
	cursor: pointer;

}
.all-pro-noodle-description
{
	 width:436px;
     height:100px;
     margin: 0;
     padding:0;
     float: left;
   
     
}
.all-pro-noodle-description-left
{
	 width:250px;
     height:100px;
     margin: 0;
     padding:0;
     float: left;
     text-align: center;
     
}
.all-pro-noodle-description-left a{
	font-size: 25px;
     font-weight: 600;
     text-decoration: none;
     color:black;
}
.all-pro-noodle-description-right
{
	width:186px;
     height:100px;
     margin: 0;
     padding:0;
     float: left;
     text-align: center;
     font-size: 30px;
     font-weight: 600;

     
}
.all-pro-show-234{
	width: 1310px;
    height:630px;
margin: 0;
padding:0;
float:left;

}

.all-pro-show-more
{
width: 1310px;
    height:100px;
margin: 0;
padding:0;
border-bottom: 1px solid black;
float:left;

}

.all-pro-show-234-btn
{
	 cursor:pointer;
	float: right;
	margin-top:20px;
	margin-right:20px;
	display: block;
width: 150px;
height: 44px;
font-size: 19px;
font-family: Arial,Helvetica,sans-serif;
line-height: 1.42857143;
border: 3px solid  #3f3f3f;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
color: #3f3f3f;
background-color: white;
}
.all-pro-show-234-btn:hover{
	color:white;
	background-color: red;
	border:none;
}